form {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
from label {
    font-size: 14px;
    color: #444;    
    font-weight: bold;
    margin-bottom: 8px;

}
form input {
    margin-bottom:20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    height: 45px;
    padding: 0 15px;
    font-size: 16px; 
}
button.btn {
    border: 0px;
    border-radius: 2px;
    width: 100%;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: #da552f;
    color: #fff;
    cursor: pointer;    
}
button.btn:hover {
    background: #e14f50;
}
label#thumbnail {
    margin-bottom: 20px;
    border:1px dashed #ddd;
    background-size:cover;
    cursor: pointer;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items:center;  
}
label#thumbnail input {
    display: none;
}

label#thumbnail.has-thumbnail{
    border: 0;
}
label#thumbnail.has-thumbnail img {
    display: none;
}
